/*часть с (,) добавление нескольнких частей основы кода где все и написано*/
h1,
p {
   font-style: italic;
}
/* ------------------------------------ */

/* часть выделеные конктреной части кода 
например: body > *, main > *, header > * и тд,
лучше всего использовать для папочных секторов
еще примичание: body >h1,h2,p,ul,ol тоже можно использовать */
body > * {
   border: 1px solid red;
}

section > p {
   font-weight: bold;
}
/* ------------------------------------ */
